/* Page */

html,body{
    background-color: rgb(30, 35, 54, 1.0);
	color: #fff;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: Arial, sans-serif;
}

.pl-icons .pl-social{
	width: 32px;
	cursor: pointer;
}

.pl-icons img{
	width: 12px;
}

.pl-exp-icons{
    width: 24px;
    color: #00FF00;
}

.pl-icons img:hover{
    //width: 34px;
}

.pl-button {
    border-radius: 5px;
    background-color: #fff;
    border: none;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    transition: all 0.5s;
}

.pl-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.pl-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.pl-button:hover span {
    padding-right: 10px;
}

.pl-button:hover span:after {
    opacity: 1;
    right: 0;
}

.pl-scroll {
	position: absolute;
    bottom: 0;
    left: 50%;
    margin: 10px;
    animation: 1.5s down infinite;
}

.pl-text-animated{
    font-size: 14px;
    font-weight: 300;
}

.pl-text-animated p{
    position: relative;
    font-size: 25px;
    font-weight: 500;
}

.pl-text-animated p::before {
    content: "";
    color: #00FF00;
    animation: words 20s infinite;
}

.pl-text-animated p::after {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 12px);
    border-left: 2px solid #00FF00;
    right: -10px;
    animation: cursor 0.9s infinite, type 5s  infinite;
    background-color: rgb(30, 35, 54, 1.0);
}

.pl-exp-prof{
    border-left: 2px solid #00FF00;
    width: 100%;
}

.pl-exp-prof-span{
    font-size: 28px;
}

.pl-exp-text{
    font-size: 18px;
}

.pl-exp-animation{
    animation: dash 5s forwards;
}

@media (max-width:768px){
    .pl-exp-animation{
        animation: none;
    }
  
    .observer-item{
        transform: none !important;
        overflow: visible;
    }

}

.pl-border-projects{
    border: 1px solid #00FF00;
    background-color: rgb(40, 35, 54, 1.0) ;
}

.observer-item{
    transform: translateX(100%);
}

.pl-project-title{
    color: #00FF00;
    font-size: 30px;
}

.pl-divisor-green{
    border-bottom: 1px solid #fff;
}

.pl-contact{
    color: #00FF00 !important;
    text-decoration:none !important;
}

.pl-ul-stacks{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pl-li-stacks{
    border: 2px solid #0F0;
    display: flex;
    border-radius: 20px;
    padding: 3px 15px 3px 15px;
    background-color: #00FF0026;
    font-weight: bold;
}


@keyframes dash {
    0%{
        transform: translateX(100%);
    }
      100%{
        transform: translateX(0%);
    }
}

@keyframes type {
	10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width:0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% +12px);
    }
}


@keyframes cursor {
    50% {
        opacity: 0;
    }
}

@keyframes words {
    0%, 25% {
        content: "Desenvolvedor";
    }
    26%, 50% {
        content: "Programador PHP|Laravel";
    }
    51%, 75% {
        content: "Microsserviços";
    }
    76%, 100% {
        content: "Freelancer";
    }
}

@keyframes cursor{
    0%{
        border-left: 2px solid rgb(30, 35, 54, 1.0);
    }
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(7px);
	}
	40% {
		transform: translate(0);
	}
}

@media (max-width:768px){
    .pl-exp-animation{
        animation: none;
    }
  
    .observer-item{
        transform: none !important;
        overflow: visible;
    }

    .pl-exp-text{
        word-wrap: break-word;
    }

    .pl-exp-prof-span{
        font-size: 25px;
    }

    .pl-exp-icons{
        width: 18px;
    }

}
